.nav {
    height: 50px;
    background-color: #28262E;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
}

.session-link {
    color: #b2d1f7;
    cursor: pointer;
    padding: 3px 0;
    font-family: system-ui;
    margin: 0 15px;
    width: 50px;
    height: 25px;
}

.session-link:hover {
    color: #5495e6;
    border-bottom: 2px solid #5495e6;
}

