.products-index-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-product {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 35px 0 50px 0;
    border-radius: 7px;
    border: 1px solid #dedede;
    background-color: #A0C1EA;
    color: white;
    width: 325px;
    height: 45px;
}

.new-product:hover {
    background-color: #5495e6;
}

.products-index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1010px;
}

.product-index-item {
    width: 250px;
    height: 250px;
    border: 1px solid #dedede;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-index-item h2 {
    font: 18px system-ui;
}

.product-form-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dedede;
    border-radius: 7px;
    padding: 25px 20px;
}

.product-form * {
    margin: 10px 0;
}

.new-product-input, .price-input {
    padding: 0 10px;
    width: 151px;
    height: 25px;
    border: 1px solid #dedede;
    border-radius: 7px;

}