.session {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.session h1 {
    font-family: system-ui;
    color: #28262e;
    margin-bottom: 30px;
}
.session-form {
    border-radius: 7px;
    border: 1px solid lightgray;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.demo-login, .session-submit {
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 35px 0 50px 0;
    border-radius: 7px;
    border: 1px solid #dedede;
    background-color: #A0C1EA;
    color: white;
    width: 325px;
    height: 45px;
}

.demo-login:hover, .session-submit:hover {
    background-color: #5495e6;
}

.or {
    font-family: system-ui;
    color: #757581;
    margin-bottom: 40px;
}


.session-input {
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    width: 308px;
    height: 15px;
    border-radius: 7px;
    border: 1px solid #dedede;
    padding: 12.5px 7.5px;
    font-size: 16px;

}

.session-errors {
    text-align: center;
    width: 305px;
    padding: 0 10px;
    font: 16px system-ui;
}
