.splash {
    height: calc(100vh - 50px);
    /* background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url(/assets/mall.jpg) no-repeat center center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}